<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FooBee:Search</title>
    <link rel="stylesheet" href="/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
               <a href="/Templates/index.html"><img src="/media/foobee-unscreen.gif" alt="logo" class="logoimg" ></a>
            </div>
            <ul>
                <li><a href="/Templates/search.html"><i class="fa-solid fa-magnifying-glass"></i>Search</a></li>
                <li><a href="#"><i class="fa-solid fa-tags"></i>Offers</a></li>
                <li><a href="#"><i class="fa-regular fa-envelope"></i>Contact</a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i>Cart</a></li>
                <li><a href="/Templates/signin.html"><i class="fa-regular fa-circle-user"></i>SignIn</a></li>
            </ul>
        </nav>
    </header>
    <div class="box">
        <input type="text" placeholder="Search for food/Resturant...">
    </div>
    
    <div>
        <div class="mostsearch">
            <h3>Hot Pick</h3>
            <div class="search-item">
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/rng/md/carousel/production/b4ff78ecc5b8b66f732dd06228916d65" class="mostliked">
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/rng/md/carousel/production/5dd234f7decdac4b4f71a2ff1408e10f" class="mostliked">
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/rng/md/carousel/production/3df4fca020027e89b89c733cdffc4966" class="mostliked">
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/rng/md/carousel/production/87664acb0f9dd95d10a549bb8190ab27" class="mostliked">
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/rng/md/carousel/production/e76b511935016406e6ebc11dd7593387" class="mostliked">
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/rng/md/carousel/production/89f3fec702aef5acbb51a6cbc284b3f7" class="mostliked">
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/rng/md/carousel/production/8322f6d6df488dc1f5a6674cfe863f0f" class="mostliked">
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/rng/md/carousel/production/31f03222ea978aef3b10d386729eb076" class="mostliked">
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/rng/md/carousel/production/c170aa4262ec0d191642f42a3a03b4ce" class="mostliked">
            </div>
        </div>
    </div>
    
    <footer>
        <p>&copy; 2022 Food Delivery. All rights reserved.</p>
    </footer>
</body>
</html>